<div class="page-header">
    <h1 style="text-align: right">رستوران های من</h1>
</div>

<% @owner_restaurants.each do |restaurant| %>
  <%= link_to restaurant, :action => 'go' do %>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="circle circle-solid">
           <div class="circle-inner">
               <div class="circle-text">
                  <h3><%= restaurant.name %></h2>
                  <p class="restaurant-text-reg"><%= restaurant.city %></h4>
                  <br>
                  <% if current_user && restaurant.user == current_user %>
                    <%= link_to edit_restaurant_path(restaurant) do %>
                      <span class="glyphicon glyphicon-pencil smallicons"></span>
                    <% end %>
                    <%= link_to restaurant, method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <span class="glyphicon glyphicon-trash smallicons"></span>
                    <% end %>
                  <% end %>
                </div>
           </div>
      </div>
    </div>
  <% end%>
<% end %>
